RewriteEngine on

RewriteRule ^index\.html$ index.php [L]
RewriteRule ^index-([0-9]+)\.html$ index.php?page=$1 [L]
RewriteRule ^index-([0-9]+)-([0-9]+)\.html$ index.php?page=$1&err=$2 [L]
RewriteRule ^mail\.html$ index.php [L]
RewriteRule ^mail-([0-9]+)\.html$ index.php?page=$1 [L]
RewriteRule ^inscription\.html$ inscription.php [L]
RewriteRule ^inscription-([0-9]+)\.html$ inscription.php?send=$1 [L]
RewriteRule ^compte\.html$ compte.php [L]
RewriteRule ^compte-([0-9]+)\.html$ compte.php?send=$1 [L]
RewriteRule ^fiche\.html$ fiche.php [L]
RewriteRule ^fiche-([0-9]+)\.html$ fiche.php?fch_id=$1 [L]
RewriteRule ^news\.html$ news.php [L]
RewriteRule ^news-([0-9]+)\.html$ news.php?news_id=$1 [L]
RewriteRule ^news-([0-9]+)-([0-9]+)\.html$ news.php?page=$1&news_id=$2 [L]
RewriteRule ^login\.html$ login.php [L]
RewriteRule ^login-([0-9]+)\.html$ login.php?page=$1 [L]

RewriteRule ^m.index\.html$ m.index.php [L]
RewriteRule ^m.index-([0-9]+)\.html$ m.index.php?page=$1 [L]
RewriteRule ^m.index-([0-9]+)-([0-9]+)\.html$ m.index.php?page=$1&err=$2 [L]
RewriteRule ^m.inscription\.html$ m.inscription.php [L]
RewriteRule ^m.inscription-([0-9]+)\.html$ m.inscription.php?send=$1 [L]
RewriteRule ^m.login\.html$ m.login.php [L]
RewriteRule ^m.login-([0-9]+)\.html$ m.login.php?page=$1 [L]
RewriteRule ^m.mail\.html$ m.index.php [L]
RewriteRule ^m.mail-([0-9]+)\.html$ m.index.php?page=$1 [L]
RewriteRule ^m.news\.html$ m.news.php [L]
RewriteRule ^m.news-([0-9]+)\.html$ m.news.php?news_id=$1 [L]
RewriteRule ^m.news-([0-9]+)-([0-9]+)\.html$ m.news.php?page=$1&news_id=$2 [L]